:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --bar-fill: #57e705;
  --bar-top: #6aff03;
  --pixel-size: 7;
}

body {
  background: linear-gradient(#D4C1B0,#FEFCFF);
}

.healthbar {
  width: calc(38px * var(--pixel-size));
  margin: 0 auto calc(2px * var(--pixel-size)) auto;
  display: block;
}

.healthbar_fill {   
  fill: var(--bar-fill);
  transition: width 0.1s ease-in, fill 0.2s linear;
}
.healthbar_fill-top {
  fill: var(--bar-top);
}

